{% extends "layout.html" %}

{% block content %}
  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-two-thirds">
          <div class="box">
            <h1 class="title">Hello!</h1>
            <p>
            Thank you for visiting my little corner of the internet! It is my aim to use this
            server as my own platform to host some personal projects that I hope to work on in the
            future. In the meantime, kick off your shoes and get to know a little about me and my
            work!
            </p>
          </div>
        </div>
      </div>
    </div> 
  </section>
{% endblock %}
