{% extends "layout.html" %}

{% block content %}
  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-two-thirds">
          <div class="box">
            <div class="has-text-right">
              <h1 class="is-size-3">Jeffrey Moore</h1>
              <h2 class="is-size-5">6108 Cobble Trail, Flower Mound, TX 75028</h2>
              <h2 class="is-size-5">jeffmooreweb@gmail.com | <a
                href="https://github.com/JeffHasAGithub">JeffHasAGithub</a></h2>
            </div>
            <hr>
            <div>
              <h3 class="title is-size-4">Professional Summary</h3>
              <p>
              A motivated computer programmer with a passion for learning and experimenting with
              the latest computer technologies. I design and develop software solutions with a strong
              emphasis on object-oriented design principles which leads to modular, testable, and
              reusable code.
              </p>
            </div>
            <hr>
            <div>
              <h3 class="title is-size-4">Relevant Skills</h3>
              <div class="columns is-centered">
                <div class="column is-narrow">
                  <h5 class="is-size-5">Web Technologies</h5>
                  <ul>
                    <li>- HTML, CSS</li>
                    <li>- React, Redux, NextJS</li>
                    <li>- NodeJS, ExpressJS</li>
                  </ul>
                </div>
                <div class="column is-narrow">
                  <h5 class="is-size-5">Databases</h5>
                  <ul>
                    <li>- MySQL, SQLite</li>
                    <li>- PostgreSQL</li>
                    <li>- MongoDB</li>
                  </ul>
                </div>
                <div class="column is-narrow">
                  <h5 class="is-size-5">Programming Languages</h5>
                  <ul>
                    <li>- C, C++, C#</li>
                    <li>- Java, Kotlin</li>
                    <li>- Javascript, Python</li>
                  </ul>
                </div>
                <div class="column is-narrow">
                  <h5 class="is-size-5">Other</h5>
                  <ul>
                    <li>- Git/Github</li>
                    <li>- Bash</li>
                    <li>- Windows, Linux</li>
                  </ul>
                </div>
              </div>
            </div>
            <hr>
            <div>
              <h3 class="title is-size-4">Relevant Experience</h3>
              <div class="columns is-centered">
                <ul class="column is-narrow is-centered">
                  <h5 class="is-size-5">Freelance Web Developer</h5>
                  <li>- Worked with clients to understand their needs regarding a new website</li>
                  <li>- Maintained active and regular communication with clients throughout development</li>
                  <li>- Delivered consistent updates that incorporated client feedback and suggestions</li>
                <ul>
              </div>
            </div>
            <hr>
            <div>
              <h3 class="title is-size-4">Education</h3>
              <h5 class="title is-size-5">Bachelor of Science: Applied Arts and Sciences</h5>
              <h6 class="subtitle is-size-6">University of North Texas</h6>
              <div class="p-1"></div>
              <h5 class="title is-size-5"><em>Current:</em> Mobile Application Programming</h5>
              <h6 class="subtitle is-size-6">North Central Texas College</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
